# Deployer private key (without 0x prefix)
DEPLOYER_PRIVATE_KEY=

# RPC URLs for each testnet
SEPOLIA_RPC_URL=https://rpc.ankr.com/eth_sepolia/YOUR_KEY
POLYGON_AMOY_RPC_URL=https://rpc-amoy.polygon.technology
ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
BSC_TESTNET_RPC_URL=https://data-seed-prebsc-1-s1.binance.org:8545
LINEA_SEPOLIA_RPC_URL=https://rpc.sepolia.linea.build
